"" "func Python() 
"" "    exec '!python %'
"" "endfunc


autocmd filetype python map <leader>z :AsyncRun python %<CR>
autocmd filetype php map <leader>z :AsyncRun php %<CR>
autocmd filetype vim map <leader>z :so %<CR>
"" "autocmd filetype cpp map <leader>z :AsyncRun g++ % -o a.out
autocmd filetype c map <leader>g :AsyncRun gcc % -o %:t:r.out <CR>
autocmd filetype c map <leader>z :!./%:t:r.out
autocmd filetype cpp map <leader>g :AsyncRun g++ % -o %:t:r.out <CR>
autocmd filetype cpp map <leader>z :!./%:t:r.out
autocmd filetype sh map <leader>z :AsyncRun /bin/bash %<CR>
autocmd filetype javascript map <leader>z :AsyncRun node %<CR>
map <leader>w :w<CR>
map <leader>x :x<CR>
map <leader>e :e
map <leader>s :save 
map <leader>v :vsp
map <leader>p :sp
map <leader>n :new 
map <leader>b   :ConqueTerm bash<CR>
" 由于已有默认的<leader>q 打开 quickfix 窗口
""map <leader>c :copen<CR>
map <leader>c :q!<CR>

"" "nmap <F9> :SCCompile<CR>
"" "nmap <F10> :SCCompileRun<CR>



function AddAuthor()
    let n=1
    while n < 11
        let line = getline(n)
        if line=~'[#]*\s*\*\s*\S*Last\s*modified\s*:\s*\S*.*$'
        call UpdateTitle()
        return
    endif
    let n = n + 1
    endwhile
    if &filetype == 'sh'
        call AddTitleForShell()
    elseif &filetype == 'python'
        call AddTitleForPython()
    else
        call AddTitleForC()
    endif

endfunction

"" 表示非.sh或.py结尾的文件添加此函数注释
function AddTitleForC()
     call setline(1,"/*================================================================")
    call append(line("."),   "*   Copyright (C) ".strftime("%Y")." Navin Xu. All rights reserved.")
    call append(line(".")+1, "*   ")
    call append(line(".")+2, "*   文件名称：".expand("%:t"))
    call append(line(".")+3, "*   创 建 者：Navin Xu")
    call append(line(".")+4, "*   电子邮箱：admin@navinxu.com")
    call append(line(".")+5, "*   创建日期：".strftime("%Y年%m月%d日"))
    call append(line(".")+6, "*   描    述：")
    call append(line(".")+7, "================================================================*/")
    call append(line(".")+8, "")
    call append(line(".")+9, "")
endfunction

"" 表示.py添加此函数注释
function AddTitleForPython()
    call append(0,"#!/usr/bin/env python")
    call append(1,"# coding:utf-8")
    call append(2,"")
    call append(3,"# **********************************************************")
    call append(4,"# * Author        : Navin Xu")
    call append(5,"# * Email         : admin@navinxu.com")
    call append(6,"# * Create time   : ".strftime("%Y-%m-%d %H:%M")) call append(7,"# * Last modified : ".strftime("%Y-%m-%d %H:%M"))
    call append(8,"# * Filename      : ".expand("%:t"))
    call append(9,"# * Description   : ")
    call append(10,"# **********************************************************")
    echohl WarningMsg | echo "Successful in adding the copyright." | echohl None
endfunction

"" 表示.sh文件添加此行数注释
function AddTitleForShell()
    call append(0,"#!/bin/bash")
    call append(1,"# **********************************************************")
    call append(2,"# * Author        : Navin Xu")
    call append(3,"# * Email         : admin@navinxu.com")
    call append(4,"# * Create time   : ".strftime("%Y-%m-%d %H:%M"))
    call append(5,"# * Last modified : ".strftime("%Y-%m-%d %H:%M"))
    call append(6,"# * Filename      : ".expand("%:t"))
    call append(7,"# * Description   : ")
    call append(8,"# **********************************************************")
endfunction
autocmd BufNewFile *.[ch],*.py,*.hpp,*.cpp,Makefile,*.mk,*.sh exec ":call AddAuthor()"

